:root {
    --userColor: #000000;
}

::-webkit-scrollbar { 
    display: none; 
}

body {
    background-color: rgba(var(--userColor));
}

.usersContainer {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 50px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.userInList {
/*   margin: 10px; */
  color: transparent;
  width: 50px;
  height: 50px;
/*   border-radius: 50%; */
/*   box-shadow: 0 0 3px #FFFFFF; */
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes newUser {
  from {margin-left: 120px;}
  to {margin-left: 10px;} 
}

@keyframes userLeft {
  from {margin-left: 10px;} 
  to {margin-left: 120px;}
}

.friendRequestBox {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -100px;
  width: 400px;
  height: 200px;
  box-shadow: 0 0 3px #FFFFFF;
  display: none;
}

.yay {
  bottom: 10px;
  left: calc(50% - 50px);
  width: 100px;
}

.nay {
  top: 10px;
  right: 10px;
}